<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.ssm.dao.ItemDao" >
	<select id="queryItems" resultType="Items">
		select * from items
	</select>
	
	<select id="queryItemsByPrice" resultType="Items">
		SELECT * FROM items it WHERE it.`price` BETWEEN #{startPrice} AND #{endPrice}
	</select>
	
	<select id="getItemById" parameterType="int" resultType="Items">
		select * from items where id = #{id}
	</select>
	
	<update id="updateItem" parameterType="Items">
		update items 
		<set>
			<if test="name!=null and name!=''">
				name = #{name},
			</if>
			<if test="price!=null and price!=''">
				price = #{price},
			</if>
			<if test="pic!=null and pic!=''">
				pic = #{pic},
			</if>
			<if test="detail!=null and detail!=''">
				detail = #{detail},
			</if>
			<if test="createtime!=null and createtime!=''">
				createtime = #{createtime}
			</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>

	<delete id="deleteItemsByIds" parameterType="java.util.ArrayList">
		delete from items where id 
		<if test="ids!=null">
			<foreach collection="ids" item="itemID" open="in (" close=")" separator=",">
				#{itemID}
			</foreach>
		</if>
	</delete>
</mapper>